<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469188373094-rn4ditq5e1sflv1vndsd37u84ee0hkue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469188373094-rn4ditq5e1sflv1vndsd37u84ee0hkue</string>
	<key>API_KEY</key>
	<string>AIzaSyD3R07eyQ-_On7ElyQgJVhxdzix3eIDwxk</string>
	<key>GCM_SENDER_ID</key>
	<string>469188373094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ed2aplicativos.newGameStore</string>
	<key>PROJECT_ID</key>
	<string>game-store-5a391</string>
	<key>STORAGE_BUCKET</key>
	<string>game-store-5a391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469188373094:ios:d5a7e11dbff1cd3bf91ba7</string>
</dict>
</plist>